@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar {
  min-height: 75px;
}

p {
  font-family: "Roboto", sans-serif;
}

.navbar-nav {
  position: relative;
  left: 82%;
}

main {
  font-family: "Lora", serif;
}
main .home-section {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgba(45, 45, 45, 0.257),
      rgba(52, 52, 52, 0.257)
    ),
    url(./jg_pack.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
  text-align: center;
}

main .about-section {
  height: 60vh;
  text-align: center;
}

.card-left-img {
  width: 100%;
  padding: 10px;
}

.card-left-sec {
  width: 30%;
}
.card-right-sec {
  width: 60%;
  padding: 20px;
  margin-left: 20px;
}
.card-left-sec img {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
}
.card-right-sec h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 60vh;
}

.left-text {
  width: 40%;
  text-align: center;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: rgb(175, 175, 175);
  margin: 0 50px;
}

.contact-form {
  width: 40%;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
}

textarea {
  height: 200px;
}

.contact-section button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#sg-left {
  float: right;
}
.card{
  width: 30rem;
}
#sg-right {
  float: left;
}

.section_banner {
  width: 100vw;
}
.section_banner img {
  width: 100%;
  height: 540px;
  object-fit: cover;
}
.section_packages {
  display: flex;
  height: 60%;
}
.section_packages .left {
  width: 60%;
  padding: 70px;
}

.section_packages .left p {
  width: 80%;
  height: max-content;
  display: flex;
  
}
.section_packages .right {
  width: 30%;
  padding: 70px;
}
#right {
  border: 1px solid #eee;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #00000027, -5px -5px 15px #00000027;
}


@media screen and (max-width: 768px) {
  .section_packages .left p{
    width: 100%;
  }
  
  #right{
    width: 100%;
  }

  .card{
    margin: 0% !important	;
  }
  .right{
    width: 100% !important;
    padding: 10px !important;
  }
  .packs-sec{
    margin: 0 !important;
  }
  .section_banner{
   display: none;
  }
  .section_banner img {
    max-width: 100% !important;
    height: auto;
    object-fit: contain;
  }
  .navbar-nav {
    left: 0%;
    text-align: center;
  }

  .about-section p {
    display: block;
    height: fit-content;
    width: 100% !important;
  }

  img {
    max-width: 100%;
  }
  main .home-section {
    background-size: auto;
    height: 100%;
  }
  .home-section h1 {
    font-size: 45px !important;
  }
  h1 {
    font-size: 34px !important;
  }

  .card-left-sec,
  .card-right-sec {
    width: 100% !important;
  }

  .card-left-img {
    width: 100%;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .contact-section {
    flex-direction: column;
    height: fit-content;
  }
  .contact-section .left-text,
  .contact-form {
    margin-top: 10px;
    width: 100%;
  }
  .card {
    width: 100% !important;
  }
  .vertical-divider {
    width: 100%;
  }
  #packages {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .section_packages{
    flex-direction: column;
    width: 100%;

  }
  .section_packages .left{
    width: 100%;
    padding: 20px !important;
    text-align: justify;
    height: max-content;
  }
  .section_banner .right{
    width: 100% !important;
    padding: 0 !important;
    height: max-content;
  }
  .section_banner .right #right{
    width: 100%;
  }
}


#sky::after {
  content: "";
  width: 52px;
  height: 50px;
  /* background-color: linear-gradient(top to bottom, ); */
  position: absolute;
  left: 84.5%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


a {
  text-decoration: none !important;
}
